body{
    background-color: #fbf0f0;
}
hr{
    border-style: none;
    border-top: dotted;
    border-color: #888888;
    border-width: 5px;
    width: 10%;
}
h1{
    color: #66bfbf;
}
h3{
    color: #66bfbf;
}
